{% extends 'base.html' %}
{% load static %}
{% block title %}Course #{{ course.id }} {% endblock title %}
{% block content %}
    <div class="card mb-5" style="width: 650px; height: 450px;">
        {% if course.Image %}
            <img src="{{ course.Image.url }}" class="img-fluid-rounded-start" alt="..." style="width: 650px; height: 450px;">
        {% else %}
            <img src="{% static 'Images/pictureplaceholder.jpg' %}" class="img-fluid rounded-start" alt="..." style="width: 650px; height: 450px;">
        {% endif %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>{{ course.Title }}</h4>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
               <h5>{{ course.Description }}</h5>
            </div>
            <div class="col">
                <a href="{{course.URL}}" target="_blank"><button type="submit" class="btn btn-secondary">Go To Course</button></p>
            </div>
        </div>
        
        {% for userCourse in user.profile.takenCourses.all %}
        <div class="row">
            {% if userCourse.Title == course.Title %}
                <div class="col"><a href="{% url 'addreview' course.id %}"><button type="submit" class="btn btn-secondary">Add Review</button></a></div>
            {% endif %}
        </div>
        {% endfor %}
{% endblock %}