<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/CSS/login.css">
    <link rel="shortcut icon" type="image/png" href="static/Images/favicon.ico">
    <title>Sign In | CourseConnect</title>
</head>
<body>
    <div class="container">
        <div class="element1">
            <p class="login font-style">Login</p>
            {% for message in messages %}
                <h5 style="color:red; position:absolute;top: 345px; left: 420px;">{{message}}</h5>
            {% endfor %}
         <form method="POST" action="{% url 'login' %}" class="input-form">
            {% csrf_token %}
            <input type="username" name="username" placeholder="        Enter Your Username">
            <input type="password" name="password" placeholder="        Enter Your Password">
            <button type="submit" class="login-btn font-style font-size">Login</button>
         </form>
         <a href ="{% url 'reset_password' %}" class="forget font-style font-size" style="color: black; font-size: medium;">Forgotten password?</a>
         <p class="connect font-style font-size">or connect with</p>
         <div class="div-buttons">
            <script src="//accounts.google.com/gsi/client" async></script>
            <div id="g_id_onload"  data-client_id="123-secret.apps.googleusercontent.com" data-login_uri="{% url 'google_login_by_token' %}"></div>
           
           <!--    <button type="submit" class="twitter font-style"> Facebook </button>-->
            {% load socialaccount %}
         
            <a href = "{% provider_login_url 'google' %}?next=/">
                <button type ="submit" class="Facebook font-style" style = "margin-right: 100px" >Google</button>
            </a>
         </div>
         <p class="signup font-style font-size">Don’t have account? <a href="{% url 'register' %}">Sign Up</a></p>
        </div>
        <div class="element2">
          <img src="static/Images/login.jpg" alt="">    
        </div>
    </div>  
</body>
</html>