{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/login.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'Images/favicon.ico' %}">
</head>

<body>
    <div class="container">
        <div class="element1">
            <h2>Success!</h2>
            <h3 class="login font-style">Password reset complete</h3>
            <p>Your password has been set. You may go ahead and <a href="/login">log in now.</a></p>
        </div>
    </div>
</body>

</html>