<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/CSS/login.css">
    <title>Sign Up</title>
</head>
<body>
    <div class="container">
        <div class="element1">
         <p class="login font-style ">Register</p>
         <form action="POST" class="input-form">
            <input type="text">
            <input type="text">
            <button type="submit" class="login-btn font-style font-size">Register</button>
         </form>
         <p class="connect font-style font-size">or connect with</p>
         <div class="div-buttons">
            <button class="Facebook font-style">
                Facebook
            </button>
            <button class="twitter font-style">
                Twitter
            </button>
         </div>
         <p class="signup font-style font-size">Already have an account? Sign In</p>
        </div>
        <div class="Prefrences">
            <p class="login font-style ">Select Your Prefrences</p>
            <div class="modal-box">
                <div class="sd-multiSelect form-group">
                  <label for="current-job-role">Choose at least 3 Prefrences</label>
                  <select multiple id="current-job-role" class="sd-CustomSelect">
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                    <option value="4">Option 4</option>
                    <option value="2">Option 5</option>
                    <option value="3">Option 6</option>
                    <option value="4">Option 7</option>
                    <option value="4">Option 8</option>
                  </select>
                </div>
              </div>
        </div>
    </div>
</body>
</html>