/*-- General --*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-container {
    width: 99%;
    height: 790px;
    background: #DBDBDB;
    margin: auto;
    padding: 12px;
    display: flex;
    border-radius: 10px;
}

h2 {
    font-family: 'Jua', sans-serif;
}

h3, button {
    font-family: 'Jockey One', sans-serif;
}

h4, h5 {
    font-family: 'Farro', sans-serif;
}

/*-- Icons --*/
.fa {
    font-size: 26px;
    margin-right: 12px;
    margin-top: 9px;
    float: right;
    color: black;
}

/*-- About Info --*/
.about-info {
    width: 47%;
    height: 758px;
    background: #FFFFFF;
    border-radius: 20px;
}

.about-info .about-info-options {
    height: 50%;
    width: 95%;
    background-color: #D8D7F6;
    padding: 3%;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.about-info .about-info-options .about-info-options-title {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 15px;
}

.edit-profile-btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 120px;
    height: 45px;
    padding: 5px;
    background: #8BADDA;
    border-radius: 10px;
    border: 1px #AEC0F2 solid;
    justify-content: center;
    gap: 10px;
    display: inline-flex;
    transition-duration: 0.3s;
    font-size: x-large;
    color: #FFFFFF;
}

.edit-profile-btn:hover {
    box-shadow: 2px 6px 6px 2px rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #AEC0F2;
    cursor: pointer;
}

.edit-profile-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
  }
  
  .edit-profile-btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: -1px;
    right: -10px;
    transition: 0.3s;
  }

  .edit-profile-btn:active {
    width: 150px;
  }
  
  .edit-profile-btn:active span {
    padding-right: 30px;
  }
  
  .edit-profile-btn:active span:after {
    opacity: 1;
    right: 0;
  }

/*--Other Info--*/
.other-info{
    width: 52%;
    height: 758px;
    background: #FFFFFF;
    border-radius: 20px;
    margin-left: 35px;
    padding: 8px;
}

.other-info .skills{
    margin-bottom: 22px;
    background-color: #D8D7F6;
    padding: 8px;
    border-radius: 5px;
}

.other-info .goals{
    margin-bottom: 22px;
    background-color: #D8D7F6;
    padding: 8px;
    border-radius: 5px;
}

.other-info .experience{
    margin-bottom: 22px;
    background-color: #D8D7F6;
    padding: 8px;
    border-radius: 5px;
}

.other-info .reviews{
    background: #D8D7F6;
    padding: 8px;
    border-radius: 5px;
}

.showbtn{
    border-radius: 6px;
    border-color: transparent;
    color: black;
    background-color: rgb(125, 125, 125);
}