<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="../../static/app/css/base.css">    
</head>
<body>
    <img src="../../static/app/images/Logo_14.png" alt="logo" class="logo">
    <nav>
        <div class="nav">
        <a href="#" class=" option active" >Home</a> 
        <a href="#" class="option">About</a>
        <a href="#" class="option">Courses</a>
        <a href="#" class="option">Contact Us</a>
        </div>
        <div class="sign">
            <button class="btn2">
                <a href="#" class="btn2-a">sign in</a>
             </button>
            <button class="btn1">
                <a href="#" class="btn_a">sign up</a>
         </button>
         <!-- <a href=""><img src="../../images/profile.PNG" alt="setting"></a>
         <a href=""><img src="../../images/profile.PNG" alt="profile"></a> -->
        </div>
     </nav>
        <footer>      
              <img src="../../static/app/images/Logo_14.png" alt="logo" class="logo_foot">
              <p>CourseConnect, connect your courses</p>
     </footer>

</body>
</html>
