{% extends 'app/base.html' %}
{% load static %}
{% block title %}Courses{% endblock title%}

{% block courses-section %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/app/css/courses.css">   
</head>
<body>
    <div class="cover">
    <div class="filter">
        <fieldset>
            <legend>Category</legend>
            <input type="checkbox" name="1">
            <label for="1">first</label>
            <br>
            <input type="checkbox" name="1">
            <label for="1">second</label>
            <br>
            <input type="checkbox" name="1">
            <label for="1">third</label>
            <br>
            <input type="checkbox" name="1">
            <label for="1">first</label>
            <br>
            <input type="checkbox" name="1">
            <label for="1">second</label>
            <br>


        </fieldset>
        
        <fieldset>
            <legend>Level</legend>
            <input type="checkbox" name="1">
            <label for="1">first</label>
            <br>
            <input type="checkbox" name="1">
            <label for="1">second</label>
            <br>
            <input type="checkbox" name="1">
            <label for="1">third</label>
            <br>
            <input type="checkbox" name="1">
            <label for="1">first</label>
            <br>
            <input type="checkbox" name="1">
            <label for="1">second</label>
            <br>


        </fieldset>
        <fieldset>
            <legend>Platform</legend>
            <input type="checkbox" name="1">
            <label for="1">first</label>
            <br>
            <input type="checkbox" name="1">
            <label for="1">second</label>
            <br>
            <input type="checkbox" name="1">
            <label for="1">third</label>
            <br>
            <input type="checkbox" name="1">
            <label for="1">first</label>
            <br>
            <input type="checkbox" name="1">
            <label for="1">second</label>
            <br>


        </fieldset>
        <fieldset>
            <legend>Rating</legend>
            <input type="checkbox" name="1">
            <label for="1">first</label>
            <br>
            <input type="checkbox" name="1">
            <label for="1">second</label>
            <br>
            <input type="checkbox" name="1">
            <label for="1">third</label>
            <br>
            <input type="checkbox" name="1">
            <label for="1">first</label>
            <br>
            <input type="checkbox" name="1">
            <label for="1">second</label>
            <br>


        </fieldset>
        <fieldset>
            <legend>price</legend>
            <input type="checkbox" name="1">
            <label for="1">first</label>
            <br>
            <input type="checkbox" name="1">
            <label for="1">second</label>
            <br>
            <input type="checkbox" name="1">
            <label for="1">third</label>
            <br>
            <input type="checkbox" name="1">
            <label for="1">first</label>
            <br>
            <input type="checkbox" name="1">
            <label for="1">second</label>
            <br>


        </fieldset>
        <fieldset>
            <legend>Release Date</legend>
            <input type="checkbox" name="1">
            <label for="1">first</label>
            <br>
            <input type="checkbox" name="1">
            <label for="1">second</label>
            <br>
            <input type="checkbox" name="1">
            <label for="1">third</label>
            <br>
            <input type="checkbox" name="1">
            <label for="1">first</label>
            <br>
            <input type="checkbox" name="1">
            <label for="1">second</label>
            <br>
        </fieldset>
    </div>
    <button class="hidden" > << </button>
    <div class="courses">
<img src="../../static/app/images/image 69.png" alt="" style="height: 2.5vh; width:1.25vw ;float: right;">

    </div>
    </div>
    
    <script src= 
    "https://code.jquery.com/jquery-3.7.1.min.js"
                integrity= 
    "sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" 
                crossorigin="anonymous"> 
            </script> 
<script src="../../static/app/js/courses.js"></script>
    </body>

</html>

{% endblock courses-section%}
