<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/app/css/courses.css">
    <title>Document</title>
</head>
<body>
    <div class="cover">
    <div class="for_u"><h1>you may like:</h1></div>
    <div class="search_header"><input type="text"class="search"><img src="../../static/app/images/image 69.png" alt="" style="height: 4vh; width:2vw ;margin-top: 2vh;margin-left: 5px;"></div>
    <div class="filter">
        <fieldset>
            <legend>Category</legend>
            <input type="checkbox" name="1">
            <label for="1">first</label>
            <br>
            <input type="checkbox" name="1">
            <label for="1">second</label>
            <br>
            <input type="checkbox" name="1">
            <label for="1">third</label>
            <br>

        </fieldset>
        <fieldset>
            <legend>Level</legend>
            <input type="checkbox" name="1">
            <label for="1">first</label>
            <br>
            <input type="checkbox" name="1">
            <label for="1">second</label>
            <br>
            <input type="checkbox" name="1">
            <label for="1">third</label>
            <br>

        </fieldset>
        <fieldset>
            <legend>Platform</legend>
            <input type="checkbox" name="1">
            <label for="1">first</label>
            <br>
            <input type="checkbox" name="1">
            <label for="1">second</label>
            <br>
            <input type="checkbox" name="1">
            <label for="1">third</label>
            <br>

        </fieldset>
        <fieldset>
            <legend>Rating</legend>
            <input type="checkbox" name="1">
            <label for="1">first</label>
            <br>
            <input type="checkbox" name="1">
            <label for="1">second</label>
            <br>
            <input type="checkbox" name="1">
            <label for="1">third</label>
            <br>

        </fieldset>
        <fieldset>
            <legend>price</legend>
            <input type="checkbox" name="1">
            <label for="1">first</label>
            <br>
            <input type="checkbox" name="1">
            <label for="1">second</label>
            <br>
            <input type="checkbox" name="1">
            <label for="1">third</label>
            <br>

        </fieldset>
        <fieldset>
            <legend>Release Date</legend>
            <input type="checkbox" name="1">
            <label for="1">first</label>
            <br>
            <input type="checkbox" name="1">
            <label for="1">second</label>
            <br>
            <input type="checkbox" name="1">
            <label for="1">third</label>
            <br>

        </fieldset>
    </div>
    <div class="courses">
    </div>
    </div>
</body>
</html>