
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/app/css/login.css"> 
    
</head>

<body>

    <div class="container">
        <div class="element1">
         <p class="login font-style ">Login</p>
         <form action="POST" class="input-form">
            <input type="text">
            <input type="text">
            <button type="submit" class="login-btn font-style font-size">Login</button>
         </form>
         <p class="forget font-style font-size">Forget your password?</p>
         <p class="connect font-style font-size">or connect with</p>
         <div class="div-buttons">
            <button class="Facebook font-style">
                Facebook
            </button>
            <button class="twitter font-style">
                Twitter
            </button>
         </div>
         <p class="signup font-style font-size">Don’t have account? Sign up </p>
         
        </div>

        <div class="element2">
          <img src="../../static/app/images/login.jpg" alt="">    
           
        </div>
    </div>
    
  
</body>
</html>
