
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/app/css/login.css"> 
    
</head>

<body>

    <div class="container">
        <div class="element1">
         <p class="login font-style ">Login</p>
         {% for message in messages %}
            <h5 style="color:red; position:absolute;top: 420px; left: 420px;">{{message}}</h5>
            {% endfor %}
         <form action="login" method="POST" class="input-form">
            {% csrf_token %}
            <input style = "text-align: center;" type="text" placeholder="Email" name = email>
            <input style = "text-align: center;" type="password" placeholder="password" name = "password"> 
           <!-- <button type="submit" class="login-btn font-style font-size">Login</button> -->
            <input class="login-btn font-style font-size" type="submit" value="Login">
         </form>
         <a href = "{% url 'reset_password' %}" class="forget font-style font-size">Forget your password?</a>
         <p class="connect font-style font-size">or connect with</p>
         <div class="div-buttons">
            <button class="Facebook font-style">
                Facebook
            </button>
            <button class="twitter font-style">
                Twitter
            </button>
         </div>
         <a  href = "\register" class="signup font-style font-size">Don’t have account? Sign up </a>
         
        </div>

        <div class="element2">
          <img src="../../static/app/images/login.jpg" alt="">    
           
        </div>
    </div>
    
  
</body>
</html>
