{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Blinker&display=swap" rel="stylesheet" /> 
    <!--<link href="{% static 'register.css' %}" rel="stylesheet" /> -->
     <!-- <link href="{% static './css/main.css' %}" rel="stylesheet" /> -->
     <link rel="stylesheet" href="../../static/app/css/register.css">

    <title>Document</title>
</head>

<body>
    <div class="v248_144">
        <div class="v248_145">
            <div class="v248_146"></div>
            <div class="v248_147"></div>
            <a  href = "https://www.facebook.com/"class="v248_148">Facebook</a>
            <!-- <div class="v248_149"></div><span class="v248_150">Facebook</span><span class="v248_151">Twitter</span> -->
            <a class="v248_149" href = "https://twitter.com/i/flow/login"> Twitter </a>
            <span class="v248_152">or connect with</span><span class="v248_153">Already have an account? <a href = ""> sign in </a> </span>
            <!-- href needs a value in the above line for the link of sign in page-->
            <div class="v248_154">   <div class="v248_155"></div><span class="v248_156">f</span></div>
            <div class="v248_157"></div>
            <div class="v248_158"></div>  <!--Background style -->
                <form>
                    <input class = "v248_159" type = "text" placeholder="Email">
                    <input class = "v248_160" type = "password" placeholder="password">
                    <input class="v248_178" type = "password" placeholder="Confirm password">
                    <input class="v248_186" type="submit" value="Register">
                </form>
                <!-- </span> -->
            <div class="v248_163"></div><span class="v248_164">.</span><span class="v248_165">Register</span>
            <div class="v248_166">
                <div class="v248_167"></div>
                <div class="v248_168"></div>
                <div class="v248_169"></div>
            </div>
            <div class="v248_170">
                <div class="v248_171"></div>
                <div class="v248_172"></div>
            </div>
          <!-- GREEN MARK MAY BE NEEDED
             <div class="v248_173">
                <div class="v248_174"></div>
                <div class="name"></div>
            </div>-->
            <div class="v248_180">
                <div class="v248_181"></div>
                <div class="v248_182"></div>
                <div class="v248_183"></div>
            </div>
            <span class="v248_184">Please select at least 2 preferences </span>
            <div class="name"></div>
           <!-- <div class="v248_186"></div><span class="v248_187"><input class="v248_187" type="submit" value="Register"></span>-->
            

            <div class="name"></div>
        </div>
    </div>
</body>

</html>