.cover{
    display: grid;
    grid-template-areas:
    "for_u for_u for_u for_u for_u for_u for_u" 
    "for_u for_u for_u for_u for_u for_u for_u" 
    "filter search_header search_header search_header search_header search_header search_header"
    "filter courses courses courses courses courses courses"
    "filter courses courses courses courses courses courses"
    "filter courses courses courses courses courses courses" ;
}
.for_u{
    grid-area: for_u;
    height: 50vh;
}
.search_header{
    grid-area: search_header;
    height: 8vh;
    background-color:#8BADD9;
    margin-top: 8px;
    display: flex;
    justify-content: center;

}
.courses{
    grid-area: courses;
    height: 100vh;
}
.filter{
    grid-area: filter;
    height: 110vh;
}
.search{
    background-color: white;
    height: 5vh;
    margin-top: 1.5vh;
    border-radius: 15px;
    width: 50%;
    border: 0;
}
h1{
    color: #EBC4E3;
    font-family: 'Kdam Thmor Pro', sans-serif;      
}
legend{
    color:#8BADD9;
    font-family: monospace;
    font-weight: 700;
    font-size: larger;
}