a{
    font-style: normal;
    font-family: 'Kdam Thmor Pro', sans-serif;  
    font-size: 1.3em;    
   text-decoration: none;
}
.nav{
    display: flex;
    gap: 3rem;
    justify-content:space-around;
    align-items: center;
    gap: 6rem;

}
.sign{
    display: flex;
    gap: 1rem;
   margin-left: 20vw;
}
nav{
    border-radius: 20px;
    width: fit-content;
    padding: 1rem 1em;
    background-color:white;
    display:flex;
    margin-left: 20vw;
    position:sticky;
    top:0px;
    z-index: 10;

    
}
.btn1 ,.btn2{
    display: inline-flex;
    height: 55px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius:5px;
    
}
.btn2{
    border: 0px ;
    background-color: white;
}
.btn1{
    border-radius: 10px;
    background: hsl(240, 83%, 36%);
    border: 0px ;


}
.btn_a{
    color: white;
    text-decoration: none;

}
.btn2-a:hover{
    border-bottom: 3px solid #060640;
    padding-bottom: 3px;
}

.btn1:hover{
    border-bottom: 3px  solid white;
    border-top: 3px  solid white;
    border-left: 0.5px  solid white;
    border-right:0.5px  solid white;
    border-radius: 12px;
}

.btn2-a{
    color:black;
    text-decoration: none;

}
.logo{
    width: 12vw;
    height: 10vh;
    z-index: 10;
    float: left;
    padding-left: 3rem;
}

.option{
    text-decoration: none;
    color: rgba(120, 122, 130, 0.943);

}
.active, .option:hover{
    color: #9298eb;
}

footer{
    background-color:#060640;
}
.logo_foot{
    width: 10vw;
    height: 10vh;
    margin-left: 12%;

}
p{
    color: #F6EAEA;
    text-align: center;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    right: 25%;
    bottom: 20%;
}

body{
    height: fit-content;
}

.account{
    display: flex;
    gap: 1rem;
   margin-left: 20vw;
}
.profilelogo:hover{
    resize: 150%;

}
