.cover{
    display: grid;
    grid-auto-columns: 5fr 2fr auto;
    gap: 0px;
}

.courses{
    width: 86vw;
}
.filter{
    height: 87.5vh;
    overflow: auto;
    margin-top: -60px ;
    width: fit-content;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0px;
}


.sign{
    display: none;
}

legend{
    color:#4e4ed2;
    font-family: monospace;
    font-weight: 700;
    font-size: 1.2em;
    box-shadow: 3px 3px 10px 1px rgba(160, 161, 167, 0.994) inset;
}

label{
    font-size: 1em;

}
fieldset{
    border-left: 1px solid black;
    padding-left: 4px;
    /* background-color: #e2cefb; */
}

.logo{
    display: none;
}


.hidden{
    font-weight: 900;
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 0px 5px 5px 0px;
    position: absolute;
    top: 0px;
    left:12vw;
    padding: 0px;
    font-size: 0.7em;
    color: #4e4ed2;
    border-top: 0.1em solid gray;
    border-right: 0.1em solid gray;
    border-bottom: 0.1em solid gray;
    border-left: 0px;

}


nav{
    grid-area: nav;
    

}

a{
    font-size: 1em;
}

p{
    font-size: 1rem;

}

.logo_foot{
    width: 8vw;
    height: 8vh;
    margin-left: 15%;
}