.cover{
    display: grid;
    grid-template-areas:
    "filter courses"
    "filter courses"
    "filter courses"
    "filter courses" ;
}

.courses{
    grid-area: courses;
    padding-right: 10px;
}
.filter{
    grid-area: filter;
    height: 700px;
    overflow: auto;
    width: 12vw;
    position: fixed;
    top:5px
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0px;
}

.sign{
    display: none;
}

legend{
    color:#4e4ed2;
    font-family: monospace;
    font-weight: 700;
    font-size: 1.2em;
    box-shadow: 3px 3px 10px 1px rgba(160, 161, 167, 0.994) inset;
}

label{
    font-size: 1em;

}
fieldset{
    border-left: 1px solid black;
    padding-left: 4px;
    /* background-color: #e2cefb; */
}

.logo{
    display: none;
}


