<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
    
</head>
<body>
    
    <div class="container">
        <div class="element1">
         <p class="login">Login</p>
         <form action="POST" class="input-form">
            <input type="text">
            <input type="text">
            <button type="submit" class="login-btn">Login</button>
         </form>
         <p class="forget">Forget your password?</p>
         <p class="connect">or connect with</p>
         <div class="div-buttons">
            <button class="Facebook">
                Facebook
            </button>
            <button class="twitter">
                Twitter
            </button>
         </div>
         <p class="signup">Don’t have account? Sign up </p>
         
        </div>

        <div class="element2">
           <img src="login.jpg" alt="">
           
        </div>
    </div>
    
    
</body>
</html>
