<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Farro:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jockey+One&display=swap" rel="stylesheet">
    
    <!-- CSS Files -->
    <link rel="stylesheet" href="../static/app/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/app/css/style.css">
</head>
<body>
    <!-- Header -->
    <div class="header">
        <div class="header-container">
            <div class="logo">
                <a href="#"><img src="Images/Logo_14.png" alt="LOGO" width="110" height="75" draggable="false"></a>
                <h2>My Profile</h2>
            </div>
            <ul class="nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Recommendation</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Sign In</a></li>
                <li><a href="#">Sign Up</a></li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    
    <!-- Body -->
    <div class="body-container">
        <div class="about-info">
            <div class="about-info-title">
                <img src="" alt="">
                <i class="fa fa-camera" aria-hidden="true"></i>
                <h2 class="username">User Name</h2>
                <h3>@username</h3>
            </div>
            <div class="about-info-options">
                <h5 class="about-info-options-title">E-mail:</h5>
                <h5 class="about-info-options-title">Phone:</h5>
                <h5 class="about-info-options-title">Birthday:</h5>
                <h5 class="about-info-options-title">Home Address:</h5>
                <h5 class="about-info-options-title">Work Address:</h5>
                <h5 class="about-info-options-title">Language:</h5>
                <h5 class="about-info-options-title">Social Websites:</h5>
            </div>  <!-- ./about-info-options -->
            <div class="edit-profile-btn"><button>Edit Profile</button></div>
        </div>  <!-- ./about-info -->
        
        <div class="other-info">
            <div class="skills">
                <a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                <h4>Skills</h4>
                <h6>Skill 1</h6>
                <h6>Skill 2</h6>
                <h6>Skill 3</h6>
                <button>Show All</button>
            </div>  <!-- ./skills -->
            <div class="goals">
                <a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                <h4>Goals</h4>
                <h6>Goal 1</h6>
                <h6>Goal 2</h6>
                <h6>Goal 3</h6>
                <button>Show All</button>
            </div>  <!-- ./goals -->
            <div class="experience">
                <a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                <h4>Experience</h4>
                <h6>Exp 1</h6>
                <h6>Exp 2</h6>
                <h6>Exp 3</h6>
                <button>Show All</button>
            </div>  <!-- ./experience -->
            <div class="my-courses">
                <a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                <h4>My Courses</h4>
                <h6>Course 1</h6>
                <h6>Course 2</h6>
                <h6>Course 3</h6>               
                <button>Show All</button>
            </div>  <!-- ./my-courses -->
        </div>  <!-- ./other-info -->
    </div>  <!-- ./body-container -->
    <script src="index.js"></script>
</body>
</html>
